.hidden {
    display: none;
}

.landing {
    display: grid;

    .intro-msg {
        display: grid;
        grid-area: center;
        margin-top: 100px;
        margin-left: 20px;
        left:50px;
        font-size: 24px;
    }
}

#things-template {
    img {
    display: grid;
    grid-area: center;
    }

    .fave_thing {
    display: grid;
    grid-area: center;
    font-size: 18px;
    }
}